* {
  --label-color-one: rgb(87, 17, 128);
  --label-color-two: darkblue;
  --label-color-three: white;
  --label-color-four: black;
  --background-color: #FFD0AF;
  --main-font: Montserrat;
  --main-font-size: 5rem;
  --main-container-width: 80%;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: var(--main-font-size);
  width: 100%;
  text-align: center;
}

ul {
  width: var(--main-container-width);
  list-style: none;
  margin: auto;
  margin-top: 1rem;
  padding-left: 0;
}

li {
  color: var(--label-color-one);
}

li .label span {
  flex-grow: 1;
  text-align: left;
  padding-left: 1rem;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 2rem;
  cursor: text;
}

li .spaninput {
  width: 100%;
  text-align: left;
  z-index: 5;
}

li .spaninput input {
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 5px;
  border: none;
  width: 70%;
}

.input-field {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: var(--main-container-width);
}

.input-field i {
  font-size: 3rem;
  color: var(--label-color-one);
  cursor: pointer;
}

.input-field input {
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 10px;
  display: block;
  border: none;
  border-bottom: 2px solid var(--label-color-one);
  width: 100%;
}

.todo {
  margin-bottom: 10px;
  text-align: center;
}

.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--label-color-three);
  color: var(--label-color-four);
}

.todo .label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: var(--label-color-three);
  padding: 1rem;
  border-bottom: solid var(--label-color-two) 5px;
  transition: background-color 0.5s;
}

.todo.completed .label {
  transition: background-color 0.5s;
  background: var(--label-color-two);
  border-bottom: solid var(--label-color-three) 5px;
  color: var(--label-color-three);
}

.todo i {
  float: right;
  z-index: 3;
}